
.img_login { height: 130px; background: #353432; }
ion-toolbar { --background: #59A9F3; }
.cajaprecio2 { background-image: linear-gradient( #59A9F3, #3874ba); height: 140px; }
.logo_slide { width: 165px; }
ion-card { margin-top: -35px; }
.terminos { font-size: 14px; color: #353432; }
.top_icon { margin-top: 40px; }
.b { color: #ffff; font-weight: bold; }