
.img_login, .footer, .cajaprecio2  { background-image: linear-gradient( #59A9F3, #3874ba) ; }
.wel_escp { height: 50px; }
ion-card  { margin-top: -30px; }
.logo_slide { margin-top: -5px; width: 90px; }